{% extends "layout.html" %}

{% block title %}Jobs at {{company |capitalize}}{% endblock %}

{% block main %}

<main class="main">
    <div>
        <h1>Jobs at {{ company}}</h1>

        {% if category == "design" %}
            <span class="secondary-text">Find UX, UI, product design and illustration jobs in Portugal.</span>
        {% endif %}
        
    </div>

    <div class="jobs-container">

        {% for job in jobs %}
            {% if job.company == company %}
                <a href={{ job.url }} target="_blank" rel="noreferrer">
                    <div class="card-container">

                        <div class="job-card">
                            <h3 class="card-header">{{ job.title }}</h3>
                            <span class="secondary-text">{{ job.company }}</span>
                        </div>

                        <div class="job-card-location">
                            <span class="secondary-text">{{ job.location }}</span>
                        </div>
                    </div>
                </a>
            {% endif %}
        {% endfor %}

    </div>

    <!-- <aside class="ad"></aside> -->

</main>

{% endblock %}