{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}

<main class="main">
    <div>
        <div>
            <h1>Join a Startup in Portugal</h1>
            <span class="secondary-text">Work alongside a team of people who care about creating a better future. From Portugal to the World.</span>
        </div>

        <!-- <div class="header-image">
            <img alt="building" src="{{url_for('static', filename='edificio.png')}}"/>
        </div> -->
    </div>

    

    <div class="jobs-container">

        <!-- For em todas as categorias em vez de fazer o for em todos jobs. -->

        {% if jobs|selectattr('category', 'equalto', 'development') |list|length %}
        <a class="category-header" href="{{ url_for('main.category', category='development') }}"><h2>Development jobs</h2></a>
        {% endif %}

        {% for job in jobs %}
            {% if job.category == "development" %}
                
                    <div class="card-container">

                        <div class="job-card">

                           
                                <a href={{ job.url }} target="_blank" rel="noreferrer">
                                    <h3 class="card-header">{{ job.title }}</h3>
                                </a>
                            
                                <a href="{{ url_for('main.company', company=job.company) }}">
                                    <span class="secondary-text">{{ job.company }}</span>
                                </a>
                       
                        </div>

                        <div class="job-card-location">
                            <span class="secondary-text">{{ job.location }}</span>
                        </div>
                    </div>
               
            {% endif %}
        {% endfor %}

        {% if jobs|selectattr('category', 'equalto', 'design') |list|length %}
        <a class="category-header" href="{{ url_for('main.category', category='design') }}"><h2>Design jobs</h2></a>
        {% endif %}

        {% for job in jobs %}
            {% if job.category == "design" %}
            <div class="card-container">

                <div class="job-card">

                   
                        <a href={{ job.url }} target="_blank" rel="noreferrer">
                            <h3 class="card-header">{{ job.title }}</h3>
                        </a>
                    
                        <a href="{{ url_for('main.company', company=job.company) }}">
                            <span class="secondary-text">{{ job.company }}</span>
                        </a>
               
                </div>

                <div class="job-card-location">
                    <span class="secondary-text">{{ job.location }}</span>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        
        {% if jobs|selectattr('category', 'equalto', 'marketing') |list|length %}
            <a class="category-header" href="{{ url_for('main.category', category='marketing') }}"><h2>Marketing jobs</h2></a>
        {% endif %}

        {% for job in jobs %}
            {% if job.category == "marketing" %}
            <div class="card-container">

                <div class="job-card">

                   
                        <a href={{ job.url }} target="_blank" rel="noreferrer">
                            <h3 class="card-header">{{ job.title }}</h3>
                        </a>
                    
                        <a href="{{ url_for('main.company', company=job.company) }}">
                            <span class="secondary-text">{{ job.company }}</span>
                        </a>
               
                </div>

                <div class="job-card-location">
                    <span class="secondary-text">{{ job.location }}</span>
                </div>
            </div>
            {% endif %}
        {% endfor %}

        {% if jobs|selectattr('category', 'equalto', 'business development') |list|length %}
        <a class="category-header" href="{{ url_for('main.category', category='business development') }}"><h2>Business Development jobs</h2></a>
        {% endif %}

        {% for job in jobs %}
            {% if job.category == "business development" %}
            <div class="card-container">

                <div class="job-card">

                   
                        <a href={{ job.url }} target="_blank" rel="noreferrer">
                            <h3 class="card-header">{{ job.title }}</h3>
                        </a>
                    
                        <a href="{{ url_for('main.company', company=job.company) }}">
                            <span class="secondary-text">{{ job.company }}</span>
                        </a>
               
                </div>

                <div class="job-card-location">
                    <span class="secondary-text">{{ job.location }}</span>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        
        {% if jobs|selectattr('category', 'equalto', 'other') |list|length %}
            <a class="category-header" href="{{ url_for('main.category', category='other') }}"><h2>Other jobs</h2></a>
        {% endif %}

        {% for job in jobs %}
            {% if job.category == "other" %}

            <div class="card-container">

                <div class="job-card">

                   
                        <a href={{ job.url }} target="_blank" rel="noreferrer">
                            <h3 class="card-header">{{ job.title }}</h3>
                        </a>
                    
                        <a href="{{ url_for('main.company', company=job.company) }}">
                            <span class="secondary-text">{{ job.company }}</span>
                        </a>
               
                </div>

                <div class="job-card-location">
                    <span class="secondary-text">{{ job.location }}</span>
                </div>
            </div>
            {% endif %}
        {% endfor %}

    </div>

    <!-- <aside class="ad"></aside> -->

</main>

{% endblock %}