{% extends "layout.html" %}

{% block title %}Startups{% endblock %}

{% block main %}
<main class="main">
    {% for job in jobs %}
        <div>
            <h1>{{ job.title }}</h1>
            <a href="{{ job.url }}" target="_blank" rel="noreferrer">
                <button class="button-main">Apply for this position</button>
            </a>
        </div>
        <div>
            <h2>{{ job.company }}</h2>
            <div><b>Location</b></div>
            <div>{{ job.location }}</div>
            <a href="{{ job_url }}" target="_blank" rel="noreferrer">
                <button class="button-main">Apply for this position</button>
            </a>
        </div>
    {% endfor %}
</main>

{% endblock %}