{% extends "layout.html" %}

{% block title %}{% for job in jobs %}{{ job.title }} at {{ job.company }}{% endfor %}{% endblock %}

{% block meta_description %}{% for job in jobs %} {{ clean_description |safe }} {% endfor %} {% endblock %}

{% block main %}
<main class="main">
    {% for job in jobs %}
        <div class="job-description-container mb40-mobile">
            <h4>{{ job.company }} is hiring a</h4>
            <h1>{{ job.title }}</h1>
            {{ job.description  |safe }}
            <a href="{{ job.url }}" target="_blank" rel="noreferrer">
                <button class="button-main">Apply for this position</button>
            </a>
        </div>

            <aside class="job-page-aside">
                <div class="aside-content-container">
                    <div class="aside-header-container">
                        <h2>{{ job.company }}</h2>
                        
                        <a class="margin-t-8" href="{{ url_for('main.company', company=job.company) }}">See Company</a>
                        <a class="margin-t-16" href="{{ job.url }}" target="_blank" rel="noreferrer">
                            <button class="button-main button-secondary">Apply for this position</button>
                        </a>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="margin-t-24">
                    <div>Location</div>
                    <div><strong>{{ job.location }}</strong></div>
                </div>
                <div class="margin-t-24">
                    <div>Published Date</div>
                    <div><strong>{{ days_ago }}</strong></div>
                </div>
                {% if job.visa_sponsor == true %}
                <div class="divider"></div>
                <img class="ukraine-flag" alt="Ukraine flag" src="{{url_for('static', filename='images/ukraine_circle.png')}}" />
                <p>This company is willing to sponsor a Ukrainian citizen escaping the country along with their family.</span>
                {% endif %}
            </aside>
    {% endfor %}
</main>

{% endblock %}