<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %} - Startup Jobs Portugal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Find a startup job in Portugal. Work alongside a team of people who care about creating a better future. From Portugal to the World. Frontend jobs, backend jobs and fullstack jobs to data science jobs.">
    <meta name="twitter:description"
    content="Find a startup job in Portugal. Work alongside a team of people who care about creating a better future. From Portugal to the World. Frontend jobs, backend jobs and fullstack jobs to data science jobs.">
    <meta name="twitter:site" content="@fzboard" />
    <meta property="og:description" content="{% block meta_description %}{% endblock %}">
    <meta property="og:image" content="{{ url_for('static', filename='images/preview.png') }}">
    <meta name="twitter:image" content="{{ url_for('static', filename='images/preview.png') }}">
   
    {{ simplemde.css }}
    {{ simplemde.js }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/32x32.png') }}">

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script  async src="https://www.googletagmanager.com/gtag/js?id=G-NX2FW45HWD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-NX2FW45HWD');
    </script>

    {% endblock %}
</head>

<body class="preload-transitions">
    {% block header %}
    <header class="header">
        <div id="logo-wrapper">
            <a href="{{ url_for('main.home') }}">
                <h2 class="card-header logo">Startup Jobs</h2>
            </a>
            
        </div>
        <div class="navigation">
            <span class="navigation-item">
                <svg class="save-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M 6.0097656 2 C 4.9143111 2 4.0097656 2.9025988 4.0097656 3.9980469 L 4 22 L 12 19 L 20 22 L 20 20.556641 L 20 4 C 20 2.9069372 19.093063 2 18 2 L 6.0097656 2 z M 6.0097656 4 L 18 4 L 18 19.113281 L 12 16.863281 L 6.0019531 19.113281 L 6.0097656 4 z"></path></svg>
                <a href="{{ url_for('main.saved_jobs') }}" id="startups">Saved Jobs</a>
            </span>
            
            <span class="navigation-item">
                <a href="https://351.community/" target="_blank" rel="noreferrer">Community</a>
            </span>
            {% if session.username %}
            <span class="navigation-item">
                <a href="{{ url_for('admin.dashboard') }}" target="_blank" rel="noreferrer">Dashboard</a>
            </span>
            {% endif %}
        </div>
        <div>
            <a href="{{ url_for('main.new') }}">
                <button class="button-main button-main-cta">Add a job</button>
            </a>
        </div>
    </header>
    {% endblock %}

    {% block main %}
    {% endblock %}
    {% block footer %}
    <footer>

        <div class="upframe-footer">
            <img id="emoji" alt="star emoji" src="{{url_for('static', filename='images/twitter_star.png')}}" />
            <span>Only You Know Who You Can Be.</span>
        </div>
        <div class="upframe-footer">
            <a href="https://twitter.com/fzboard" target="_blank" rel="noreferrer">
                <svg role="img" fill="rgba(57, 56, 86, 0.4)" width="16" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <title>Twitter</title>
                    <path
                        d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z" />
                </svg>
            </a>

            <a href="{{  url_for('feed.rss' )}}" target="_blank" rel="noreferrer">
                <svg role="img" fill="rgba(57, 56, 86, 0.4)" width="16" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <title>RSS</title>
                    <path
                        d="M19.199 24C19.199 13.467 10.533 4.8 0 4.8V0c13.165 0 24 10.835 24 24h-4.801zM3.291 17.415c1.814 0 3.293 1.479 3.293 3.295 0 1.813-1.485 3.29-3.301 3.29C1.47 24 0 22.526 0 20.71s1.475-3.294 3.291-3.295zM15.909 24h-4.665c0-6.169-5.075-11.245-11.244-11.245V8.09c8.727 0 15.909 7.184 15.909 15.91z" />
                </svg>
            </a>

        </div>
    </footer>
    {% endblock %}
</body>

</html>