<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}

    <!-- Primary Meta Tags -->
    <title>{% block title %}{% endblock %} - Fuzzboard</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="{% block meta_description %}{% endblock %}">

    <!-- Open Graph / Facebook Meta Tags -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ self.title() }} - Fuzzboard">
    <meta property="og:description" content="{{ self.meta_description() }}">
    <meta property="og:image" content="{{ url_for('static', filename='images/preview.png') }}">

    <!-- Twitter Meta Tags -->
    <meta property="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@fzboard" />
    <meta property="twitter:title" content="{{ self.title() }} - Fuzzboard" />
    <meta name="twitter:description" content="{{ self.meta_description() }}">
    <meta name="twitter:image" content="{{ url_for('static', filename='images/preview.png') }}">

     <!-- Simple MDE loader -->
    {{ simplemde.css }}
    {{ simplemde.js }}

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/32x32.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Inter:wght@400;500;800;900&display=swap" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script  async src="https://www.googletagmanager.com/gtag/js?id=G-NX2FW45HWD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-NX2FW45HWD');
    </script>

    {% endblock %}
</head>

<body class="preload-transitions">
    {% block header %}
    <header class="header">
        <div id="logo-wrapper">
            <a href="{{ url_for('main.home') }}">
                <h2 class="card-header logo">Fuzzboard</h2>
            </a>
        </div>
        <div class="navigation mobile-no-display">
            <!-- <span class="navigation-item">
                <svg class="save-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M 6.0097656 2 C 4.9143111 2 4.0097656 2.9025988 4.0097656 3.9980469 L 4 22 L 12 19 L 20 22 L 20 20.556641 L 20 4 C 20 2.9069372 19.093063 2 18 2 L 6.0097656 2 z M 6.0097656 4 L 18 4 L 18 19.113281 L 12 16.863281 L 6.0019531 19.113281 L 6.0097656 4 z"></path></svg>
                <a href="{{ url_for('main.savedJobs') }}" id="startups">Saved Jobs</a>
            </span> -->
            
            <!-- <span class="navigation-item">
                <a href="https://351.community/" target="_blank" rel="noreferrer">Community</a>
            </span> -->
            <span class="navigation-item">
                <a href="{{ url_for('main.savedJobs') }}">Saved Jobs</a>
            </span>
            <span class="navigation-item">
                <a target="_blank" href="https://employukraine.org/"><img class="emoji" alt="star emoji" src="{{url_for('static', filename='images/flags/ukraine.png')}}" />&nbsp; Employ Ukraine</a>
            </span>
            {% if session.username %}
            <span class="navigation-item">
                <a href="{{ url_for('admin.dashboard') }}" target="_blank" rel="noreferrer">Dashboard</a>
            </span>
            {% endif %}
        </div>
        <div>
            <a href="{{ url_for('main.new') }}">
                <button class="button-main mobile-no-display">+ Add a job</button>
            </a>
        </div>
    </header>
    {% endblock %}

    <!-- MOBILE NAVIGATION -->

    <nav class="mobile-navigation">

        <a href="{{ url_for('main.home') }}"><div class="flex-col align-center">
            <svg class="home-icon-navigation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linecap="round" stroke-width="2" stroke-linejoin="round"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/><polyline points="9 22 9 12 15 12 15 22"/></svg>
        </div></a>

        <a href="{{ url_for('main.savedJobs') }}">
            <div class="flex-col align-center">
                <svg class="save-icon-navigation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M 6.0097656 2 C 4.9143111 2 4.0097656 2.9025988 4.0097656 3.9980469 L 4 22 L 12 19 L 20 22 L 20 20.556641 L 20 4 C 20 2.9069372 19.093063 2 18 2 L 6.0097656 2 z M 6.0097656 4 L 18 4 L 18 19.113281 L 12 16.863281 L 6.0019531 19.113281 L 6.0097656 4 z"></path></svg>
            </div>
        </a>
    </nav>

    <!-- END OF MOBILE NAVIGATION -->

    {% block main %}
    {% endblock %}
    
    {% block footer %}
    <footer>
        <div>
            <strong>Social Media:</strong>
            <a href="https://twitter.com/fzboard" target="_blank" rel="nofollow">Twitter</a>,
            <a href="https://www.linkedin.com/company/fuzzboard/" target="_blank" rel="nofollow">LinkedIn</a>.
            <br/>
            <strong>Telegram Channels:</strong>
            <a href="https://t.me/ITJobsPortugal" target="_blank" rel="nofollow">Tech Jobs for Ukrainians in Europe</a>,
            <a href="https://t.me/ua_designjobs" target="_blank" rel="nofollow">Design Jobs in Europe</a>,
            <a href="https://t.me/ua_marketing" target="_blank" rel="nofollow">Marketing Jobs in Europe</a>.
            <br/>
            <strong>Helpful Resources:</strong>
            <a href="https://refugees.casafari.com/" target="_blank" rel="nofollow">Housing for refugees</a>,
            <a href="https://upframed.notion.site/Helpful-Resources-506e62fa55ef40419fbaceb9c8c91695" target="_blank" rel="nofollow">More Jobs</a>.
        </div>
    </footer>
    {% endblock %}
</body>

</html>