{% extends "layout.html" %}

{% block title %}Post job{% endblock %}

{% block main %}

<main class="main">
    <header class="header-new-job-page">
        <h1>Submit a job for free</h1>
        <span class="secondary-text">Each job is shared across our partner incubators, startup hubs, newsletters and <a class="a_underline" href="https://351.community/" target="_blank" rel="noreferrer">351</a>, the Portuguese Startup Community.</span>
        <br>
        <span class="secondary-text">Jobs submited expire after 30 days.</span>
    </header>

    <form class="new-job-form" method="POST">
        {{ form.hidden_tag() }}

        {{ form.title.label }}
        {{ form.title(placeholder="Senior fullstack developer") }}

        {{ form.company.label }}
        {{ form.company(placeholder="Upframe") }}

        {{ form.category.label }}
        {{ form.category(placeholder="Upframe") }}

        {{ form.location.label }}
        {{ form.location(placeholder="Lisbon") }}

        {{ form.link.label }}
        {{ form.link(id="button-js", placeholder="https://angel.co/company/upframe/jobs/1159754-fullstack-developer-co-founder", autocomplete="off") }}
        
        {{ form.email.label }}
        {{ form.email(placeholder="jason@upframe.io") }}

        {{ form.submit(class="button-main") }}
    </form>

    <aside class="recipient">
        <span class="recipient-text">My name is Malik. I’ll be the one reviewing your job submission.<br><br> You can reach me on <a class="a_underline" href="https://twitter.com/malikpiara" target="_blank" rel="noreferrer">Twitter</a>, <a class="a_underline" href="https://www.linkedin.com/in/malikpiara/" target="_blank" rel="noreferrer">LinkedIn</a> or <a class="a_underline" href="mailto:malik@hey.com">Email</a>.</span>
        <img class="contact-photo" src="{{url_for('static', filename='malik2.jpg') }}">
    </aside>

</main>
{% endblock %}