{% extends "layout.html" %}

{% block title %}Post job{% endblock %}

{% block main %}

<main class="main">
    <div>
        <h1>Submit a job</h1>
        <span class="secondary-text">Each job is shared across our partner incubators, coworking spaces, email newsletters and our slack workspace in the Portuguese startup community.</span>
    </div>

    <form class="new-job-form" method="POST">
        {{ form.hidden_tag() }}

        {{ form.title.label }}
        {{ form.title(placeholder="Senior fullstack developer") }}

        {{ form.company.label }}
        {{ form.company(placeholder="Upframe") }}

        {{ form.category.label }}
        {{ form.category(placeholder="Upframe") }}

        {{ form.location.label }}
        {{ form.location(placeholder="Lisbon") }}

        {{ form.link.label }}
        {{ form.link(placeholder="https://angel.co/company/upframe/jobs/1159754-fullstack-developer-co-founder") }}

        {{ form.email.label }}
        {{ form.email(placeholder="jason@upframe.io") }}

        {{ form.submit(class="button-main") }}
    </form>

    <aside class="recipient">
        <span>My name is Malik and I’ll be the one receiving and reviewing your job submission. You can reach me on Twitter or Upframe.</span>
        <img class="contact-photo" src={{url_for('static', filename="malik.jpg") }}>
    </aside>

</main>
{% endblock %}