{% extends "layout.html" %}

{% block title %}Post job{% endblock %}

{% block main %}

<main class="main">
    
    <script src="{{url_for('static', filename='htmx.min.js')}}"></script>
    
    <header class="header-new-job-page">

        <h1>Submit a job for free</h1>

        <span class="secondary-text">Each job approved is shared across our communication channels, weekly newsletter and inside the Slack workspace for <a class="a_underline" href="https://351.community/" target="_blank" rel="noreferrer">351</a>, one of the most active Startup Communities in Portugal.</span>
        <br><br>
        <span class="secondary-text">→ Our monthly organic reach is <b>6.2K on LinkedIn</b>.
            <br>→ Our newsletter is sent every Monday to people that are <b>actively</b> looking for jobs at startups.
            <br>→ We're the first result on Google for queries like "startup jobs portugal" and "startup jobs coimbra".</span>
        <br><br>
        
        
    </header>

    <div class="new-job-form" id="replaceMe">
    <form class="new-job-form" hx-post="/newJob" method="POST" hx-swap="innerHTML" hx-target="#replaceMe">
        {{ form.hidden_tag() }}

        {{ form.title.label }}
        {{ form.title(placeholder="Senior fullstack developer") }}

        {{ form.company.label }}
        {{ form.company(placeholder="Upframe") }}

        {{ form.category.label }}
        {{ form.category(placeholder="Upframe") }}

        {{ form.location.label }}
        {{ form.location(placeholder="Lisbon") }}

        {{ form.link.label }}
        <small>Please submit a URL. Other formats are not accepted.</small>
        {{ form.link(id="button-js", placeholder="https://angel.co/company/upframe/jobs/1159754-fullstack-developer-co-founder", autocomplete="off") }}
        
        {{ form.email.label }}
        {{ form.email(placeholder="malik@outono.org") }}

        {{ form.submit(class="button-main") }}

    </form>
</div>

    <aside class="recipient">
        <span class="recipient-text">Hi! My name is Mariana. I’ll be the one reviewing your job submission.<br><br> You can reach me on <a class="a_underline" href="https://twitter.com/StartupJobs__PT" target="_blank" rel="noreferrer">Twitter</a>, <a class="a_underline" href="https://www.linkedin.com/in/marianadkobayashi/" target="_blank" rel="noreferrer">LinkedIn</a> or <a class="a_underline" href="mailto:marianadanifk@gmail.com">Email</a>.</span>
        <img class="contact-photo" src="{{url_for('static', filename='mariana.jpeg') }}" alt="Mariana Ko">
        <img class="oyk" alt="Only you know who you can be" src="{{url_for('static', filename='02.png')}}"/>
    </aside>

</main>
{% endblock %}