{% extends "layout.html" %}

{% block title %}A central place for startup jobs in Portugal{% endblock %}

{% block main %}

<main class="main mb40">
    <script src="{{url_for('static', filename='htmx.min.js')}}"></script>

    <div>
        {% if user.profile_image_name == "default.png" %}
            <img class="profile-pic" src="{{url_for('static', filename='default.png')}}">
        {% else %}
        <img class="profile-pic" src="{{url_for('main.file', filename=user.profile_image_name)}}">
        {% endif %}

        <h2>{{user.name}}</h2>
        <h4>Location</h4>
        Lisbon
        <br><br>
        <button class="secondary-btn button-main">Message me</button>
    </div>

   
        <div class="new-job-form">

            <h3>About Me</h3>
            <div>Product Manager who codes and designs.  I work on initiatives that promote more access to opportunities for people who don't have them. Currently improving startupjobsportugal.com</div>

            <h2>On the Web</h2>

            <h4>Personal Website</h4>
            <div>moonwith.com</div>

            <h4>LinkedIn</h4>
            <div>linkedin.com/in/malikpiara</div>
            

            <h4>GitHub</h4>
            <div>github.com/malikpiara</div>
            

            <h4>Dribbble</h4>
            <div>dribbble.com/malikpiara</div>
            
        </div>
    

    
</main>

{% endblock %}