{% extends "layout.html" %}

{% block title %}Startups{% endblock %}

{% block main %}
<main class="main">
        <div>
            <h1>Save jobs for later</h1>
            <p class="secondary-text">You don't have to open a million tabs and keep track of all the interesting jobs on your own. We're building a space that lets you bookmark jobs privately and where you can come back to. Whenever you need.</p>

            <h3>Be the first one to know when bookmarks start working. No spam. Ever.</h3>
            <form class="new-job-form" method="POST">
                {{ form.hidden_tag() }}
                
                {{ form.email.label }}
                {{ form.email(placeholder="malik@outono.org") }}

                {{ form.feedback.label }}
                {{ form.feedback(placeholder="If you don't have anything to say, that's okay too. You can submit the form without filling this field.") }}
        
                {{ form.submit(class="button-main") }}
            </form>
        </div>
        
</main>

{% endblock %}