{% extends "layout.html" %}

{% block title %}Startups{% endblock %}

{% block main %}
<main class="main">
        <div>
            <h1>Startup List</h1>
            <span class="secondary-text">Here you might be able to find a list with startups that have recently been hiring in Portugal. You might be able to <span class="highlight">learn about companies you don't know.</span> And you might also be able to turn on email notifications so you can <span class="highlight">be the first to know when the company you’re eyeing starts hiring again.</span></span>

            <h2>Be the first one to know when startup list goes live</h2>
            <form class="new-job-form" method="POST">
                {{ form.hidden_tag() }}
                
                {{ form.email.label }}
                {{ form.email(placeholder="rodrigo@upframe.io") }}

                {{ form.feedback.label }}
                {{ form.feedback(placeholder="If you don't have anything to say, that's okay too. You can submit the form without filling this field.") }}
        
                {{ form.submit(class="button-main") }}
            </form>
        </div>
</main>

{% endblock %}