{% extends "layout.html" %}

{% block title %}Post job{% endblock %}

{% block main %}

{{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}

{{mde.js}}

<main class="main-new-job">
    
    <script src="{{url_for('static', filename='js/htmx.min.js')}}"></script>
    
    <header class="header-new-job-page">

        <h1>Hire highly qualified talent in record time.</h1>

        <span class="secondary-text">Each job approved is shared across our communication channels, weekly newsletter and inside the Slack workspace for <a class="a_underline" href="https://351.community/" target="_blank" rel="noreferrer">351</a>, one of the most active Startup Communities in Portugal.</span>
        <br><br>
        <span class="secondary-text">→ Our monthly organic reach is <b>11.4K on LinkedIn</b>.
            <br>→ Our newsletter is sent every Monday to people that are <b>actively</b> looking for jobs at startups.
            <br>→ We're the <strong>first page on Google</strong> for queries like "Startup Jobs Portugal", "Startup Jobs Porto" and "Product Management jobs Portugal".</span>
        <br><br>
        
        
    </header>

    <div class="new-job-form" id="replaceMe">
        <!-- <div>
            <form>
                {{ ckeditor.create() }}
                <input type="submit">
            </form>
        </div> -->
    <form class="new-job-form" hx-post="/newJob" method="POST" hx-swap="innerHTML" hx-target="#replaceMe">
        {{ form.hidden_tag() }}

        {{ form.title.label }}
        {{ form.title(placeholder="Senior fullstack developer") }}

        {{ form.company.label }}
        {{ form.company(placeholder="Upframe") }}

        {{ form.category.label }}
        {{ form.category(placeholder="Upframe") }}

        {{ form.location.label }}
        {{ form.location(placeholder="Lisbon") }}

        <div class="mkdn-editor">
            <label>Description</label>
            {{mde.editor()}}
            <small>Examples: Use “-” for bullet lists, and “###” for headers.</small>
        </div>
        
        {{ form.link.label }}
        <small>Please submit a URL. Other formats are not accepted.</small>
        {{ form.link(id="button-js", placeholder="https://angel.co/company/upframe/jobs/1159754-fullstack-developer-co-founder", autocomplete="off") }}
        
        {{ form.email.label }}
        {{ form.email(placeholder="malik@outono.org") }}

        {{ form.submit(class="button-main") }}

    </form>
</div>

    <aside class="recipient">
        <h3>Your job listing preview</h3>
        {{ mde.preview }}
    </aside>

</main>
{% endblock %}