Your job has been submited. Our team will review and approve it during the next 24 hours.

<br><br>
<strong>Company</strong><br>
{{ company }}<br>

<strong>Position</strong><br>
{{ job_title }}<br><br>

Once your job submission is approved, we'll spread the word across our partner channels. Our recently built, <a href="https://twitter.com/StartupJobs__PT">Twitter feed</a> will help too. Follow our account to be the first to know when your job gets posted.
<br><br>
----<br>
<a href="https://351.community/">Join 351, the Portuguese Startup Community on Slack.</a>
<br><br>
<span>Would you like to launch a Hiring Challenge for your candidates? Go to <a href="https://taikai.network/en/organizations?utm_source=newjoboffer&utm_medium=email&utm_campaign=startupjobs">TAIKAI startup program</a> and launch a challenge today!</span>