Your job has been submited. Our team will review and approve it during the next 24 hours.

<br><br>
<strong>Company</strong><br>
{{ company }}<br>

<strong>Position</strong><br>
{{ job_title }}<br><br>

Once your submission is approved, we'll spread the word across our partner channels. Our <a href="https://twitter.com/fzboard">Twitter feed</a> will help too. Follow our account to be the first to know when your job gets posted.
<br><br>
----<br>
<a href="https://351.community/">Join 351, the Portuguese Startup Community on Slack.</a>