<option value='Berlin'>Berlin</option>
<option value='Bielefeld'>Bielefeld</option>
<option value='Bochum'>Bochum</option>
<option value='Bonn'>Bonn</option>
<option value='Bremen'>Bremen</option> 
<option value='Cologne'>Cologne</option>
<option value='Dortmund'>Dortmund</option>
<option value='Dresden'>Dresden</option>
<option value='Duisburg'>Duisburg</option>
<option value='Düsseldorf'>Düsseldorf</option>
<option value='Essen'>Essen</option>
<option value='Frankfurt'>Frankfurt</option>
<option value='Hamburg'>Hamburg</option>
<option value='Hanover'>Hanover</option>
<option value='Leipzig'>Leipzig</option>
<option value='Munich'>Munich</option>  
<option value='Nuremberg'>Nuremberg</option>
<option value='Stuttgart'>Stuttgart</option>  
<option value='Wuppertal'>Wuppertal</option>