<option value='Bari'>Bari</option>
<option value='Brescia'>Brescia</option>
<option value='Bologna'>Bologna</option>
<option value='Catania'>Catania</option>
<option value='Florence'>Florence</option>
<option value='Genoa'>Genoa</option>
<option value='Messina'>Messina</option>
<option value='Milan'>Milan</option>
<option value='Naples'>Naples</option>
<option value='Padua'>Padua</option>
<option value='Palermo'>Palermo</option>
<option value='Parma'>Parma</option>
<option value='Rome'>Rome</option>
<option value='Trieste'>Trieste</option>
<option value='Turin'>Turin</option>
<option value='Venice'>Venice</option>
<option value='Verona'>Verona</option>