<option value='Alicante'>Alicante</option>
<option value='Barcelona'>Barcelona</option>
<option value='Bilbao'>Bilbao</option>
<option value='Córdoba'>Córdoba</option>
<option value='Granada'>Granada</option>
<option value='Las Palmas'>Las Palmas</option>
<option value='Madrid'>Madrid</option>
<option value='Málaga'>Málaga</option>
<option value='Murcia'>Murcia</option>
<option value='Ovideo'>Ovideo</option>
<option value='Palma'>Palma</option>
<option value='Salamanca'>Salamanca</option>
<option value='San Sebastián'>San Sebastián</option>
<option value='Seville'>Seville</option>
<option value='Valencia'>Valencia</option>
<option value='Valladolid'>Valladolid</option>
<option value='Vigo'>Vigo</option>
<option value='Zaragoza'>Zaragoza</option>