<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Reset Password</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
<body>
    <main class="main-login">
        <div class="container-login">
            <h1 class="mb50 big-text">Reset Password</h1>
            <form class="block login-form mb15" method="post">
                {{ form.hidden_tag() }}
                {{ form.password(placeholder="Your new password") }}
                {{ form.password2(placeholder="Please repeat your new password") }}
                {{ form.submit(class="primary") }}
            </form>
        </div>
    </main>
</body>
</html>