<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sign up</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen'
    href='/static/css/styles.css'>
</head>
<body>
    <main class="main">
        <div class="container">
            <h1 class="big-text mb50">Sign up</h1>
            {% for message in get_flashed_messages() %}
                {{ message }}
            {% endfor %}
            <form class="block mb15" autocomplete="off" method="post">
                {{ form.hidden_tag() }}
                {{ form.email_address(placeholder="email@example.com", autocomplete="off") }}
                {{ form.name(placeholder="Your name", autocomplete="off") }}
                {{ form.password(placeholder="Password", autocomplete="off") }}
                {{ form.password2(placeholder="Repeat password") }}
                {{ form.submit(class="primary") }}
            </form>
            <p>
                Already have an account? <a href="{{ url_for('auth.login') }}">Login here</a>.
            </p>
        </div>
    </main>
</body>
</html>